:root {
    --hero-text-color: #ffffff;
    --accent-color: #4D5AE5;
    --primary-text-color: #2E2F42;
    --subsidiary-text-color: #434455;
    --button-text-color: #ffffff;
    --button-click-color: #404BBF;
}


body {
    background-color: #ffffff;
}

/* logo */
.logo-head {
    color: var(--primary-text-color)
}

.web {
    color: var(--accent-color)
}

/* site nav */
ul {
    list-style: none;
}

.site-nav a {
    color: var(--primary-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color)
}

.site-nav .link.current {
    color: var(--accent-color)
}

.address-nav .link {
    color: var(--subsidiary-text-color)
}

.address-nav .link:hover,
.address-nav .link:focus {
    color: var(--accent-color)
}

/* Hero */
.hero {
    background-color: #2E2F42;
    color: var(--hero-text-color)
}

.button-action {
    background-color: #4D5AE5;
    color: var(--button-text-color);
    cursor: pointer;
}


/* Section team */
.team-list {
    background-color: #F4F4FD
}

h2,
h3 {
    color: var(--primary-text-color)
}

.text {
    color: var(--subsidiary-text-color)
}

.footer {
    background-color: #2E2F42;
}

.footer .text {
    color: #E7E9FC
}

.logo-foot.link {
    color: #F4F4FD
}

.logo-foot.link:hover,
.logo-foot.link:focus {
    color: var(--accent-color);
}

/* Portfolio page */

.button-nav {
    background-color: var(--button-nav-color);
    color: var(--accent-color);
    cursor: pointer;
}

.button-nav:hover {
    background-color: var(--accent-color);
    color: var(--button-nav-active-text-color);
}